
    <h1>Welcome Back <%=@user.username%>!</h1>

    <h3>What would you like to do?</h3>

    <ul>
      <li><a href="/<%=@user.username%>">View your list</a></li>
      <li><a href="/characters/new">Add a new character to your list</a></li>
      <li>Enter another person's username to view their list :
        <form class="user_search" action="/search" method="post">
          <input type="text" name="username" placeholder="A_Username">
          <input type="submit" value="Search">
        </form>
     </li>
    </ul>
