    <h2>Welcome to Character Lister!</h2>
    <h3>To use this application, please sign up below.</h3>
    <form class="new_user" action="/signup" method="post">
      <h4>Note** Usernames and passwords cannot contain spaces in them, use either - or _ instead.</h4>
      <label for="name">Please enter a Username for your account :</label>
      <input type="text" id="name" name="username" placeholder="Eg. Andrew_M"><br><br>

      <label for="password">Please create a password :</label>
      <input type="password" id="password" name="password"><br><br>

      <input type="submit" id="create_user" value="Create Account">
    </form>
