<h1><%=@user.username%>'s Favorite Characters</h1>

<ul>
  <%@characters.each do |character|%>
    <li class="rank"><%=character.list_rank%>. <a href="/characters/<%=character.id%>"><%=character.name%></a></li>
  <%end%>
</ul>

<%if @current_user.id == @user.id%>
  <form class="add_character" action="/characters/new" method="get">
    <input type="submit" name="add_btn" value="Add a Character">
  </form>
<%end%>
