  <h1 class="title">Welcome to Character Lister!</h1>
  <p>Character Lister is a web application where you can create a list of your favorite characters
    and rank them starting with your most favorite! <br>In addition to listing your own favorites
    you can also look at other users' lists and see what they like! To use this app please login or signup below.
  </p>
  <br>
  <br>
  <h3>If you don't have an account click <a href="/signup">here</a> to signup.</h3>
  <br><h3>If you already have an account click <a href="/login">here</a> to login</h3>
