  <h1>Welcome to Character Lister!</h1>
  <h3>If you don't have an account click <a href="/signup">here</a> to signup.</h3>
  <br><h3>If you already have an account click <a href="/signin">here</a> to login</h3>
