<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Character Lister</title>
  </head>
  <body>
    <%=yield%>

    <br>
    <br>
    <br>
    <% if Helper.logged_in?(session) %>
      <form class="logout" action="/logout" method="get">
        <input type="submit" name="logout_btn" value="Logout">
      </form>
    <%end%>
  </body>
</html>
