<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Character Lister</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <%=yield%>

    <br>
    <br>
    <br>
    <% if Helper.logged_in?(session) %>
    <form class="home" action="/home" method="get">
      <input type="submit" name="home_btn" value="Back to home page">
    </form>
      <form class="logout" action="/logout" method="get">
        <input type="submit" name="logout_btn" value="Logout">
      </form>
    <%end%>
  </body>
</html>
